<!-- actualizamos nuestro html -->
<div class="container">
  <!-- tabla basica -->
  <table class="table table-bordered table-inverse">
    <!-- Titulos de las columnas -->
    <tr>
      <th>Owner Name</th>
      <th>Email</th>
      <th>Model</th>
      <th>Purchase Price</th>
    </tr>
    <!-- for de angular que recorre nuestra lista de bikes -->
    <tr *ngFor="let bike of bikes">
       <td>
        <!-- agregamos un enlace para vincular con view registration 
        y mostrar un registro en particular -->
        <a [routerLink]="['/admin/view',bike.id]">{{bike.name}}</a>
      </td>
      <td>
        <!-- 
        utilizamos interpolacion para traernos todos los 
        atributos de nuestras bicicletas -->
        {{bike.email}}
      </td>
      <td>
        {{bike.model}}
      </td>
      <td>
        {{bike.purchasePrice}}
      </td>

    </tr>
  </table>
</div>